header {
  background: #eee;
  padding: 10px 20px;
  color: #333;
}

form, #filterCountry {
  background: #eee;
  padding: 10px 20px 20px 20px;
  margin-top: 40px;
}

section {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.account {
  background: #eee;
  padding: 10px 20px;
  margin: 20px 0;
  width: 20%;
}
